@font-face {
  font-family: mundial-hair;
  font-weight: 100;
  font-style: normal;
  src: url("https://use.typekit.net/ctk7seo.css");
}

@font-face {
  font-family: mundial-bold;
  font-weight: 300;
  font-style: normal;
  src: url("https://use.typekit.net/ctk7seo.css");
}
