$black: #080808;
$light-black: #141414;
$white: #f1f1f1;
$box-shaddow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 15px 12px rgba(0, 0, 0, 0.22);
$box-shaddow-intense: 0 5px 6px rgba(0, 0, 0, 0.4), 0 6px 5px rgba(0, 0, 0, 0.651);
