@use "../base/colors.scss";
.navbar-container {
  position: relative;

  .icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .icon:hover {
    filter: opacity(0.7);
  }
  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: colors.$black;
    z-index: 99;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 1px solid colors.$white;
    overflow: auto;
    max-height: 90vh;
  }
}
