@use "../base/colors";

.queue-item,
.serving-item {
  will-change: transform, opacity;
  border: 1px white solid;
  background-color: colors.$white;
  color: colors.$black;
  padding: 1rem;
  width: 7rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2rem;

  .beer-item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8ch;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
    padding: 0.2rem 0rem;
  }
  .dateTime {
    padding: 0;
    margin: 0.5rem 0.1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed colors.$black;
    border-bottom: 1px dashed colors.$black;
  }
  p {
    padding: 0.1rem 0rem 0.2rem 0rem;
    margin: 0;
  }

  .beer-count {
    text-align: right;
  }

  .bartender-img-container {
    position: relative;
  }

  .bartender-img {
    position: absolute;
    height: 3rem;
    border-radius: 1.5rem;
    top: -1.6rem;
    right: -1.6rem;
    border: 2px solid colors.$white;
  }
}

.serving-item {
  position: relative;
  h3:before {
    font-weight: bold;
    position: absolute;
    top: 0.2em;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.6em;
    content: "SERVING";
    color: black;
    -webkit-animation-name: flash;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeInAnimation 1s linear;
}
