@use "../base/colors";

.queue-item,
.serving-item {
  border: 1px white solid;
  background-color: colors.$white;
  color: colors.$black;
  padding: 1rem;
  width: 7rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  .beer-item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
  }
  .dateTime {
    padding: 0;
    margin: 0.5rem 0.1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
  }
  p {
    padding: 0.1rem 0rem 0.2rem 0rem;
    margin: 0;
  }

  .beer-count {
    text-align: right;
  }

  .bartender-img-container {
    position: relative;
  }

  .bartender-img {
    position: absolute;
    height: 3rem;
    border-radius: 1.5rem;
    top: -1.6rem;
    right: -1.6rem;
  }
}

.serving-item {
  h3 {
    color: mediumaquamarine;
  }
}

.fadeIn {
  animation: fadeInAnimation 1s linear;
}
