@use "../base/colors.scss";

.main-orderform {
  h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.basket-wrapper {
  min-height: 40vh;
  background-color: colors.$black;
}

.checkout {
  .basketItem {
    p {
      padding-top: 1rem;
    }
  }

  .beerLabel {
    height: 4rem;
    width: 4rem;
  }
  .progress-placement {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    padding-top: 3rem;
    padding-top: 5rem;
  }

  .progress-container {
    justify-content: center;
    display: flex;
  }

  .circle-container {
    position: relative;
  }
  .circle {
    text-align: center;
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: colors.$black;
    color: colors.$white;
    border: 1px colors.$white solid;
    border-radius: 40px;
  }

  .active {
    background-color: colors.$white;
    color: colors.$black;
  }

  //Checkout form

  .error {
    color: rgb(228, 115, 139);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s max-height;
  }

  input {
    background-color: colors.$black;
    border: 1px colors.$white solid;
  }

  /*  input:valid {
    border-color: rgb(53, 105, 53);
  } */

  input:invalid:not(:placeholder-shown, :focus) {
    border-color: rgb(228, 115, 139);
  }

  input:invalid:not(:placeholder-shown, :focus) + .error {
    max-height: 2rem;
  }

  input::placeholder {
    opacity: 100%;
  }

  form {
    margin: 10vw;
  }

  form > * + *,
  fieldset > * + *:not(.address) {
    margin-top: 1.5rem;
  }

  .form-group {
    display: grid;
    gap: 5px;
  }

  label {
    line-height: 1;
    padding-bottom: 0.6rem;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: colors.$white;
    border: 1px solid colors.$white;
    background: colors.$black;
    padding: 8px 12px 10px;
    border-radius: 15px;
    outline: none;
    caret-color: colors.$white;
    padding-top: 0.6rem;
  }

  input:focus {
    border-color: rgb(255, 255, 255);
  }
  input::placeholder {
    color: rgb(153, 153, 153);
  }

  [id*="hint"],
  span {
    color: #585858;
    line-height: 1.4;
    transition: 0.3s;
  }

  .form-group:focus-within span {
    color: rgb(255, 255, 255);
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 2rem 0;
    text-align: left;
  }

  legend {
    padding: 0;
    font-size: 1.6rem;
    font-weight: 600;
  }

  legend + .form-group {
    margin-top: 1rem;
  }

  html {
    height: 100%;
  }

  .firstname-lastname {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hint-mail {
    font-size: 0.9rem;
  }

  /*   #expirationdate,
  #securitycode {
  }
 */

  input#expirationdate,
  input#securitycode,
  input#cardnumber {
    border: none;
  }

  input#expirationdate {
    border-right: 1px solid colors.$white;
    border-radius: 0px;
    width: 6ch;
  }

  #securitycode {
    width: 4ch;
  }

  .card-info-sub {
    display: flex;
    justify-content: space-around;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: colors.$white;
    border: 1px solid colors.$white;
    background: colors.$black;
    border-radius: 15px;
    outline: none;
    caret-color: colors.$white;
  }

  .first-name,
  .last-name {
    display: grid;
    grid-column: auto;
  }

  .next {
    padding-bottom: 0.6rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .mask {
    overflow: hidden;
  }
}

.step-three {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 1rem;
  }
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0%;
  width: 300%;
  transition: 0.4s ease;
}
