.beerListItem {
  border: 1px solid white;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.6rem;
  h3 {
    font-weight: 100;
    margin-bottom: 0;
  }
  .beerLabel {
    height: 7rem;
    padding: 1rem;
  }
  p {
    margin: 0;
    padding-bottom: 0.4rem;
  }
}
