@use "../base/colors.scss";

.beerlist-wrapper {
  margin-bottom: 10rem;
}

.noShow {
  display: none;
}

.basketItem,
.beerListItem {
  padding: 1rem;
  position: relative;
  background-color: colors.$light-black;
  border-radius: 20px;
  box-shadow: colors.$box-shaddow;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  h3 {
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    margin: 0;
    padding-bottom: 0.4rem;
    white-space: wrap;
    max-width: 45ch;
  }

  .beerLabel {
    height: 7rem;
  }

  .addContainer {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    align-items: center;
    align-content: space-around;
    align-items: center;
  }
  .beer-item-description {
    margin-bottom: 0.4rem;
  }

  .circleButton {
    width: 2rem;
    height: 2rem;
    /* margin-top: none; */
    background-color: colors.$white;
    color: colors.$black;
    /*     position: relative; */
    border-radius: 1rem;
    font-size: inherit;
  }

  .circleButton:hover {
    filter: opacity(0.7);
    box-shadow: colors.$box-shaddow;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}

.bottom-cart {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid colors.$white;
}
