.overview {
  h1 {
    line-height: 0rem;
    margin-bottom: 3rem;
  }
  .stats {
    display: flex;
    gap: 4rem;
    border: 1px solid white;
    border-radius: 1rem;
    width: 30rem;
    justify-content: center;

    .statsItem {
      text-align: center;
      padding-bottom: 1rem;
      .statNumber {
        font-size: 3.4em;
      }
      p {
        margin: 0;
      }
    }
  }
}
