@use "../base/colors.scss";
.overview {
  margin-right: 10vw;

  h1 {
    line-height: 2rem;
  }
  .stats {
    display: flex;
    gap: 5vw;
    border: 1px solid colors.$white;
    border-radius: 1rem;
    justify-content: center;
    box-shadow: colors.$box-shaddow;
    .statsItem {
      text-align: center;
      padding-bottom: 1rem;
      .statNumber {
        font-size: 3.4em;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .overview {
    margin-right: 0rem;
    grid-area: ov;
  }

  .overview-logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "lo"
      "ov";
  }

  .foobar-logo {
    grid-area: lo;
    margin: 0 auto;
  }

  .overview {
    .stats {
      display: flex;
      gap: 5vw;
      border: 1px solid white;
      border-radius: 1rem;
      justify-content: center;
    }

    h1 {
      margin-top: 4rem;
    }
  }
}
