.serving-and-queue {
  display: inline-flex;
  grid-column-gap: 2rem;
  max-width: 70vw;
  overflow-y: auto;
}

.queue-list {
  display: inline-flex;
  grid-column-gap: 2rem;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
