.serving-and-queue {
  display: inline-flex;
  grid-column-gap: 2rem;
  max-width: 70vw;
  padding-top: 1rem;
  overflow-y: auto;
}

.queue-list {
  display: inline-flex;
  grid-column-gap: 2rem;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 992px) {
  .serving-and-queue {
    display: inline-flex;
    grid-column-gap: 2rem;
    max-width: 90vw;
    padding-top: 1rem;
    overflow-y: auto;
  }
}
