@use "../base/colors.scss";

.storage-list {
  border: 1px color;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.slanted-text-container {
  height: 5rem;
  position: relative;
  h3 {
    position: absolute;
    white-space: nowrap;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    transform-origin: bottom left;
    /*  text-decoration: underline; */
  }
}

.storage-item {
  width: calc(65vw / 10);
}

.keg-container {
  position: relative;
}

.keg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.keg-amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: colors.$black;
}

@media screen and (max-width: 992px) {
  .storage-list {
    flex-flow: row wrap;
    display: flex;
  }

  .storage-item {
    flex-basis: 20%;
    width: calc(65vw / 5);
    margin-bottom: 3rem;
  }

  .slanted-text-container {
    h3 {
      transform: translate(-50%, -50%);
      transform: rotate(-10deg);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 7ch;
      /*  text-decoration: underline; */
    }
  }
}
