@use "../base/colors.scss";

.storage-list {
  border: 1px color;
  display: flex;
  position: relative;
}

.slanted-text-container {
  height: 5rem;
  position: relative;
  h3 {
    position: absolute;
    white-space: nowrap;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    transform-origin: bottom left;
    /*  text-decoration: underline; */
  }
}

.storage-item {
  width: calc(70vw / 10);
}

.keg-container {
  position: relative;
}

.keg-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.keg-amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: colors.$black;
}
