@use "../base/colors.scss";

aside {
  background-color: colors.$light-black;
  border-radius: 20px;
  box-shadow: colors.$box-shaddow;

  h2 {
    text-align: center;
  }
}

.beer-label {
  max-width: 100%;
  width: 3vw;
  height: auto;
  display: block;
  border-radius: 1.5rem;
}

.tap-list {
  display: grid;
  border-radius: 20px;
}

.tap-item {
  max-height: calc(95vh / 7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tap-levels-container {
  position: relative;

  .bar-fluid {
    position: absolute;
  }
}

@media screen and (max-width: 992px) {
  .tap-item {
    max-height: 4rem;
    justify-content: center;
  }

  .tap-item > * {
    margin-left: 8vw;
  }

  .beer-label {
    width: 2.5rem;
  }
}
