@use "../base/colors.scss";

.main-orderform {
  padding-left: 6vw;
  padding-right: 6vw;
}

.dashboard-main {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 5vh 5vw 0rem 3vw;
  gap: 5vw;

  /*  .right-side > * {
    margin: 0rem 0rem 1rem 0rem;
  } */

  .overview-logo {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .dashboard-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rs"
      "as";
    .right-side {
      grid-area: rs;

      .overview-logo {
        grid-template-columns: 1fr;
      }
    }

    aside {
      grid-area: as;
    }
  }
}
